# Assignment Day 2|9th December 2020

#1)Try 5 Different functions of the String in python.

In [2]:
name="Anjali"
name.index("l")

4

In [4]:
name="Nethravathi"
name.index("h")

3

In [9]:
name="Myself Anjali Am From Bellary"
name.split()

['Myself', 'Anjali', 'Am', 'From', 'Bellary']

In [70]:
name = "I have completed my BE in"
collage = "RYMEC collage Bellary"
name +" "+ collage

'I have completed my BE in RYMEC collage Bellary'

In [64]:
name="Letsupgrade is a very good platform for beginners"
name.split()

['Letsupgrade', 'is', 'a', 'very', 'good', 'platform', 'for', 'beginners']

In [14]:
name="I Love My Mom and Dad"
name.split()

['I', 'Love', 'My', 'Mom', 'and', 'Dad']

# 2)Try 5 Different functions of the list object in Python.

In [77]:
lst=[1,2,3,4, "bhavana", "abc"]
lst

[1, 2, 3, 4, 'bhavana', 'abc']

In [113]:
lst=(1,2,3,4,["i","want", "to", "become", "a", "Software", "Developer"],5,6,7,8)
lst

(1,
 2,
 3,
 4,
 ['i', 'want', 'to', 'become', 'a', 'Software', 'Developer'],
 5,
 6,
 7,
 8)

In [115]:
lst[4][5]

'Software'

In [144]:
lst=("Bhava","akka",["yashwitha"],"sonubaby","jeevana")
lst[2]

['yashwitha']

In [147]:
lst=(1,2,3,4,["i","want", "to", "become", "a", "Software", "Developer"],5,6,7,8)
lst[-5][3]

'become'

In [156]:
lst=(1.2,3.5,6.7,"ended last",["faithfully"])
lst

(1.2, 3.5, 6.7, 'ended last', ['faithfully'])

In [169]:
lst=("Hi Guys this is Letsupgrade", "Good platfrom")
lst

('Hi Guys this is Letsupgrade', 'Good platfrom')

# 3)Experiment with at least 5 default functions of Dictionary

In [175]:
dit={"key":12 ,"key1":32,"key2":20}
dit

{'key': 12, 'key1': 32, 'key2': 20}

In [174]:
dit["key"]

20

In [31]:
ditPerson={"Name:Anjali","age=22","place=Bellary"}
ditPerson

{'Name:Anjali', 'age=22', 'place=Bellary'}

In [19]:
dit1={"SubDict":{"Key1":2,"Key2":3}}
dit1.get("SubDict")

{'Key1': 2, 'Key2': 3}

In [35]:
dit={"SubDict":{1:"Pallavi",2:"Jeevana",3:"Chinni",4:"Anusha"}}
dit.get("SubDict").get(2)

'Jeevana'

In [64]:
dit={"subDict":{"Name:Anj","mail=123"}}
dit.get("subDict")

{'Name:Anj', 'mail=123'}

# Assignment Day 3| 10th December 2020

#1)Use IF ELSE and ELIF to write a program in python for your Report Cards

In [99]:
marks=85
if marks >= 90:
    print("Grade -> A")
elif marks >= 60 and marks <90:
    print("Grade -> B")
elif marks >= 40 and marks <60:
    print("Grade -> C")
else:
    print(failed)

Grade -> B

# just tried

In [93]:
num=40
if num<40:
    print("Number is less than 40")
elif num==40:
        print("Number is 40")
else:
            print("Number is greater than 40")

Number is 40

In [90]:
if num==4:
    print("Hey its 4")
else:
    print("Else this is not 4")

Else this is not 4

# 2)Use For Loop to Print Numbers in between 1 to 1000

In [104]:
for item in range(1,100):
    print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

#3)Write a program for printing the tables from 1,10 using Nested For Loop

In [113]:
num=1
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [114]:
num=2
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [115]:
num=3
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [116]:
num=4
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [117]:
num=5
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [118]:
num=6
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [121]:
num=7
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [122]:
num=8
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [123]:
num=9
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [124]:
num=10
for i in range(1, 11):
    print(num, 'x', i,'=',num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

#4)Write a program to Print X Prime Numbers Using While Loop starting from 0, and take the Input of X from the user

In [ ]:
max_n=int(input("Please Enter the range:"))
Number=2
prime=[]
n=int(input("how many prime number you want?"))
while(Number<=max_n):
     count=0
i=2
while(i<=Number//2):
    if(Number % i==0):
        count=count+1
        break
        i=i+1
        if (count==0):
            prime.append (Number)
            Number=Number+1
            if len(prime)==n:
                break
                
    print("The first",n,"prime numbers:",prime)

Please Enter the range:100
how many prime number you want?10